/*variables*/

:root {
  --basic-black: #000000;
  --basic-extra-black: #333333;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-extra-white: #f2f2f2;
  --basic-brown-light: #766357;
  --basic-neutral: #eeeeee;
  --basic-extra-brown: #604e43;
  --basic-brown: #503e33;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-extra-white);
  list-style: none;
}
a {
  text-decoration: none;
}
.main-navigation a {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
}
.main-navigation {
  color: var(--basic-black);
}
.site-navigation {
  list-style: none;
}

.country {
  text-align: center;
}
.country h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.country p {
  font-size: 14px;
  line-height: 26px;
}

.city {
  text-align: left;
}
.city h2 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.city p {
  font-size: 14px;
  line-height: 21px;
}
.features {
  text-align: center;
}
.features-list{
  list-style-type: none;
}
.features h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.features p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.story-list {
  list-style: none;
}
.story-item {
  text-align: center;
}
.story h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}
.story p {
  font-size: 14px;
  line-height: 21px;
}
.offer {
  text-align: center;
}

.button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-brown-light);
}
.button:hover {
  background-color: var(--basic-extra-brown);
}
.button:focus .button:active {
  background-color: var(--basic-brown);
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.phone {
  color: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.socials {
  list-style: none;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-blue);
}
.copyright {
  font-size: 14px;
  line-height: 26px;
}
.infrastructure {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.infrastructure-item {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.housing {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.housing-item {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.offer {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.button-offer {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}
.offer h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.offer p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.offer a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;
}
.pic {
  list-style: none;
}
.pic h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.pic p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.button-primary {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  width: 110;
  height: 27;
}
.button-secondary {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  width: 142;
  height: 27;
}
